form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

input {
  height: 35px;
  width: 400px;
  background-color: transparent;
  border: 2px solid #a63d40;
  border-radius: 5px;
  color: #ffffff;
  padding: 0 20px;
  letter-spacing: 4px;
  margin: 30px 10px 0 0;
  transition: all 300ms ease-in;
}

input:focus {
  outline: none;
}

input:first-child {
  margin-top: 40px;
}

::placeholder {
  transition: all 150ms ease-in;
  color: #ee9999;
}

input:hover::placeholder {
  color: rgb(238, 153, 153, 0.5);
}

.form-footer {
  display: flex;
  align-items: center;
}
